.addImage{
    width: 35%;
    margin-left: -30px;
}

.frigImage{
    width: 30%;
    margin-left: -80px;

}

.recipeBookImage{
    width: 18%;
}

.potImage{
    width: 30%;
    margin-left: -57px;
}

.favRecipeList{
    width: 15%;
    margin-left: -65px;
    padding-top: 20px;
}

.RecipeListAPI{
    width: 45%;
    padding-top: 7px;
    margin-left: -15px;
}

.table td.text {
    max-width: 177px;
}

.tableSpan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}